<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections></configSections>
  <connectionStrings>
    <add name="VidoParkingEntities2" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SQLite;provider connection string=&quot;data source=&quot;&quot;F:\Khanh\SkyDrive\Development\Github\Vido's Projects\Vido\vidoparking.s3db&quot;&quot;&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>