<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="VidoParkingEntities" connectionString="metadata=res://*/VidoParking.csdl|res://*/VidoParking.ssdl|res://*/VidoParking.msl;provider=System.Data.SQLite;provider connection string=&quot;data source=&quot;&quot;Z:\Vido\VidoParking.s3db&quot;&quot;&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>